body {
    font-family: Arial;
    text-align: center;
    background-color: #7dffd48c;
  }
  
  table {
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
  
  a, button {
    padding: 1px;
    background: #04995b;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px auto;
    gap: 10px;
  }
  
  .lista {
    margin-top: 20px;
  }
